<!-- <mat-icon svgIcon="thumbs-up" aria-hidden="false" aria-label="Example thumbs up SVG icon"></mat-icon> -->

  <p class="comedian-p">Kountry Wayne, a rising star in comedy, captivates audiences with his viral sketches and stand-up performances. With millions of followers on social media, his relatable storytelling and infectious energy have propelled him to success. Wayne's memoir, "Help Is On The Way," is set to be published, showcasing his journey from humble beginnings to comedic stardom.  </p>

<a href="https://www.youtube.com/c/KountryWayne1814/featured" target="_blank">
    <img src="https://cdn-icons-png.flaticon.com/128/1384/1384060.png" alt="YT Icon" class="custom-icon">
  </a>
  <a href="https://www.facebook.com/KingKountryWayne/" target="_blank">
    <img src="https://cdn-icons-png.flaticon.com/128/733/733547.png" alt="Facebook Icon" class="custom-icon">
  </a>
  <a href="https://www.instagram.com/kountrywayne/" target="_blank">
    <img src="https://cdn-icons-png.flaticon.com/128/1409/1409946.png" alt="IG Icon" class="custom-icon">
  </a>
  <a href="https://shopkountrywayne.com/" target="_blank">
    <img src="https://cdn-icons-png.flaticon.com/128/5968/5968887.png" alt="Shopify Icon" class="custom-icon">
  </a>
 


