.custom-icon {
  width: 24px; /* Adjust the width as needed */
  height: auto;
  margin-right: 10px;
  vertical-align: middle;
}
  .custom-icon:hover {
    transform: scale(1.2); /* Adjust the scale factor for the hover effect */
  }

  .comedian-p{
    margin-bottom:10px;
  }


  @media (max-width: 600px) {
    .custom-icon {
      width: 16px; /* Adjust the width for mobile devices */
      margin-right: 5px; /* Adjust the margin for mobile devices */
    }
  }