.custom-icon {
  width: 24px; /* Adjust the width as needed */
  height: auto;
  margin-right: 10px;
  vertical-align: middle;
}
  .custom-icon:hover {
    transform: scale(1.2); /* Adjust the scale factor for the hover effect */
  }

  .comedian-p{
    margin-bottom:10px;
  }